<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <img appBrokenImage src="https://medias.giphy.com/media/l0MYPAG3jAjZ2khBC/giphy.gif?cid=790b7611m5jqbm05joznawhcbps19tmhe82zdoeoz8usz5me&ep=v1_gifs_search&rid=giphy.gif&ct=g" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img appBrokenImage src="https://media.giphy.com/media/3oFzmi1zNabEmLuE6I/giphy.gif?cid=790b7611m5jqbm05joznawhcbps19tmhe82zdoeoz8usz5me&ep=v1_gifs_search&rid=giphy.gif&ct=g" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img appBrokenImage src="https://media.giphy.com/media/hWj0KGKUNwlDpj0Gqs/giphy.gif?cid=790b7611m5jqbm05joznawhcbps19tmhe82zdoeoz8usz5me&ep=v1_gifs_search&rid=giphy.gif&ct=g" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<router-outlet />-->